@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  background-color: #cbcbcb;
  color: #2e373a;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
  width: 100dvw;
  overflow-x: hidden;
  min-height: 100dvh;
}

section{
    padding: 30px;
    width: 100%;
}


.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100dvh;
    padding: 60px;
    padding-right: 180px;
}
.continer{
    --left: 0px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    transition: 0.7s ease;
    rotate: 15deg;
}
.can{
    width: 280px;
    position: absolute;
    aspect-ratio: 2/4;
    background:
        var(--url) var(--left),
        url(assets/mockup.png);
    background-size: auto 100%;
    background-blend-mode: multiply;
    mask-image: url(assets/mockup.png);
    mask-size: auto 100%;
    transition: 0.7s;
}
.continer .can:last-of-type{
    opacity: 0;
}
.continer:hover{
    --left: -1000px;
    padding-bottom: 100px;
}
.continer:hover .can:last-of-type{
    opacity: 1;
}
.continer:hover .can:first-of-type{
    opacity: 0;
}




